html {
  background-color: white;
  font-family: 'Fira Sans', sans-serif; }

.charDropInfo {
  background-color: #403C2E;
  color: #403C2E; }

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5em;
  background-color: #C4C4B5;
  width: 140%; }
  .nav-wrapper .blank {
    background-color: White; }
  .nav-wrapper a {
    color: #403C2E;
    background-color: #C4C4B5; }
  .nav-wrapper .subheaderDropdown {
    color: #C4C4B5;
    background-color: #96922B;
    margin: 0;
    padding: 0em 1em 0em .5em; }
  .nav-wrapper .inkrDirections {
    color: #9E8C6D;
    background-color: #C4C4B5;
    margin: 0;
    padding: 0em 1em 0em 1em; }
  .nav-wrapper .dropdown-content li > a, .nav-wrapper .dropdown-content li > span {
    color: #9E8C6D;
    padding: 0em; }
  .nav-wrapper .dropdown-content li {
    min-height: 0;
    line-height: 1.75rem; }
  .nav-wrapper .characterInfo {
    color: Goldenrod;
    font-size: 100%;
    margin-top: 2em;
    margin-left: 1em; }
  .nav-wrapper .dropdown-button {
    margin: 2em;
    color: #96922B;
    font-size: 120%; }
  .nav-wrapper #dropdown1 {
    margin-left: 4em;
    margin-top: 5em; }
  .nav-wrapper #dropdown2 {
    margin-right: 4em;
    margin-top: 5em; }
  .nav-wrapper div.col.s12.m12 {
    background-color: white; }
    .nav-wrapper div.col.s12.m12 .logoCard {
      margin-top: 2em; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto;
  margin-bottom: 34em; }
  main div.input-field.inline {
    align-self: center; }
    main div.input-field.inline input#text.charSearch {
      width: 16%;
      margin-left: 6em; }

canvas#canvas {
  display: flex;
  justify-content: center;
  z-index: 1;
  position: absolute; }
  canvas#canvas #canvasDiv {
    position: absolute; }

.container {
  display: flex;
  justify-content: center; }

.comicVine {
  display: flex;
  justify-content: center;
  z-index: 3; }

img.charImage {
  padding: 1em;
  margin: 1em;
  border: 2em;
  border-color: Black;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-select: none; }

.panel {
  position: absolute;
  z-index: 2;
  top: 55px;
  left: 133px;
  right: 40px;
  background-attachment: fixed; }

.input-field.inline {
  display: flex;
  flex-direction: row;
  justify-content: center; }

#text {
  width: 24%; }

.random {
  display: flex;
  justify-content: center; }

#randomButton {
  background-color: #403C2E;
  color: #FFF0B7;
  margin-left: 4.5em; }

#searchButton {
  background-color: #403C2E;
  color: #FFF0B7; }

div.hover {
  color: white; }

.hover {
  position: relative;
  display: inline-block; }

.hover .hoverText {
  visibility: hidden;
  width: 120px;
  background-color: #9E8C6D;
  color: #FFF0B7;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1; }

.hover:hover .hoverText {
  visibility: visible; }

footer.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #C4C4B5;
  color: #403C2E; }
  footer.page-footer div.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0em; }
    footer.page-footer div.row .questionsConcerns {
      display: flex;
      flex-direction: column;
      align-content: center;
      text-align: center;
      padding: 1em 0em 1em 0em;
      color: #9E8C6D; }
      footer.page-footer div.row .questionsConcerns div.inkrGithubContainer {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center; }
        footer.page-footer div.row .questionsConcerns div.inkrGithubContainer p.inkrGithub {
          display: flex;
          flex-direction: row;
          align-items: baseline;
          justify-content: center; }
        footer.page-footer div.row .questionsConcerns div.inkrGithubContainer a.biblio {
          color: white; }
      footer.page-footer div.row .questionsConcerns img.githubLogo {
        margin: 0 1em 0 0; }
    footer.page-footer div.row .thankYou {
      text-align: right;
      padding-top: 0em;
      display: flex;
      flex-direction: column;
      text-align: center; }
      footer.page-footer div.row .thankYou .footerSub {
        color: #9E8C6D; }
      footer.page-footer div.row .thankYou img {
        margin-right: 1em; }
      footer.page-footer div.row .thankYou a.biblio {
        align-items: baseline;
        color: #96922B; }
      footer.page-footer div.row .thankYou h5 {
        color: #9E8C6D; }
  footer.page-footer .footer-copyright {
    padding-top: 4em; }
    footer.page-footer .footer-copyright .container {
      margin-bottom: 0em;
      color: #96922B; }
      footer.page-footer .footer-copyright .container .roxGithub {
        display: flex;
        flex-direction: row;
        color: #96922B; }
        footer.page-footer .footer-copyright .container .roxGithub img.githubLogo {
          margin: 0 1em 0 0; }

/*# sourceMappingURL=base.css.map */
