html {
  background-color: #fdffff;
  font-family: "Fira Sans", sans-serif; }

.charDropInfo {
  background-color: #fdffff;
  color: #000000; }

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5em;
  background-color: #fdffff;
  width: 100%; }
  .nav-wrapper ul#mobile-demo.side-nav {
    background-color: #fdffff; }
  .nav-wrapper .blank {
    background-color: White; }
  .nav-wrapper a {
    color: #000000;
    background-color: #fdffff; }
  .nav-wrapper .subheaderDropdown {
    font-family: "Dokdo", cursive;
    font-size: 26px;
    font-weight: lighter;
    color: #000000;
    background-color: #fdffff;
    margin: 0;
    padding: 0em 1em 0em .5em;
    font-weight: lighter; }
  .nav-wrapper .inkrDirections {
    color: #000000;
    background-color: #fdffff;
    margin: 0;
    padding: 0em 1em 0em 1em;
    font-weight: lighter; }
  .nav-wrapper .dropdown-content li > a, .nav-wrapper .dropdown-content li > span {
    color: #000000;
    padding: 0em; }
  .nav-wrapper .dropdown-content li {
    min-height: 0;
    line-height: 1.75rem; }
  .nav-wrapper .characterInfo {
    color: Goldenrod;
    font-size: 100%;
    margin-top: 2em;
    margin-left: 1em;
    font-weight: lighter; }
  .nav-wrapper a.dropdown-button {
    font-family: "Dokdo", cursive;
    margin: 2em;
    color: #000000;
    font-size: 30px; }
  .nav-wrapper #dropdown1 {
    margin-left: 4em;
    margin-top: 5em; }
  .nav-wrapper #dropdown2 {
    margin-right: 4em;
    margin-top: 5em;
    width: 100%; }
  .nav-wrapper div.col.s12.m12 {
    background-color: white; }
    .nav-wrapper div.col.s12.m12 .logoCard {
      margin-top: 2em; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto;
  margin-bottom: 34em; }
  main div.row1 {
    display: flex;
    justify-content: center;
    border: 2px solid #000000;
    margin: 10px; }
    main div.row1 div.innerRow {
      display: flex;
      justify-content: center;
      width: 96%;
      margin: 4px;
      border: 2px solid #000000; }
      main div.row1 div.innerRow h3.inkrName {
        font-family: "Dokdo", cursive;
        font-size: 100px; }
  main section.userInput .row2 {
    display: flex;
    justify-content: center;
    border: 2px solid #000000;
    margin: 10px; }
    main section.userInput .row2 div.innerRow2 {
      display: flex;
      justify-content: center;
      width: 96%;
      margin: 4px;
      border: 2px solid #000000; }
      main section.userInput .row2 div.innerRow2 div.col {
        display: flex;
        justify-content: center;
        flex-direction: column; }
        main section.userInput .row2 div.innerRow2 div.col div.input-field.inline {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-self: center; }
          main section.userInput .row2 div.innerRow2 div.col div.input-field.inline input#text.charSearch {
            width: 60%;
            margin-right: 10%;
            margin-bottom: 0; }
          main section.userInput .row2 div.innerRow2 div.col div.input-field.inline a#searchButton {
            background-color: #fdffff;
            color: #000000;
            border: 2px solid #000000;
            border-radius: 10%; }
          main section.userInput .row2 div.innerRow2 div.col div.input-field.inline a#searchButton:hover {
            background-color: #C4C4B5; }
        main section.userInput .row2 div.innerRow2 div.col div.random {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 20px 0 20px 0; }
          main section.userInput .row2 div.innerRow2 div.col div.random a#randomButton {
            background-color: #fdffff;
            color: #000000;
            border: 2px solid #000000;
            border-radius: 10%; }
          main section.userInput .row2 div.innerRow2 div.col div.random a#randomButton:hover {
            background-color: #C4C4B5; }

.container {
  display: flex;
  justify-content: center; }

canvas#canvas {
  display: flex;
  justify-content: center;
  z-index: 1;
  position: absolute; }
  canvas#canvas #canvasDiv {
    position: absolute; }

.comicVine {
  display: flex;
  justify-content: center;
  z-index: 3; }
  .comicVine img.charImage {
    padding: 1em;
    margin: 1em;
    border: 2em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -khtml-user-select: none; }

.panel {
  position: absolute;
  z-index: 2;
  top: 55px;
  left: 133px;
  right: 40px;
  background-attachment: fixed; }

footer.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fdffff;
  color: #000000; }
  footer.page-footer div.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0em;
    display: flex;
    justify-content: center;
    border: 2px solid #000000;
    margin: 10px;
    padding: 0; }
    footer.page-footer div.row .questionsConcerns {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 96%;
      margin: 4px;
      border: 2px solid #000000;
      text-align: center;
      padding: 1em 0em 1em 0em;
      font-family: "Dokdo", cursive;
      text-transform: uppercase; }
      footer.page-footer div.row .questionsConcerns p.email {
        font-family: "Fira Sans", sans-serif;
        text-transform: lowercase; }
      footer.page-footer div.row .questionsConcerns div.inkrGithubContainer {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center; }
        footer.page-footer div.row .questionsConcerns div.inkrGithubContainer p.inkrGithub {
          display: flex;
          flex-direction: row;
          align-items: baseline;
          justify-content: center; }
        footer.page-footer div.row .questionsConcerns div.inkrGithubContainer a.biblio {
          color: #000000;
          font-family: "Fira Sans", sans-serif;
          text-transform: lowercase; }
      footer.page-footer div.row .questionsConcerns img.githubLogo {
        margin: 0 1em 0 0; }
    footer.page-footer div.row .thankYou {
      display: flex;
      flex-direction: column;
      width: 96%;
      margin: 4px;
      border: 2px solid #000000;
      text-align: right;
      padding-top: 0em;
      text-align: center;
      color: #000000;
      font-family: "Dokdo", cursive;
      text-transform: uppercase; }
      footer.page-footer div.row .thankYou img {
        margin-right: 1em; }
      footer.page-footer div.row .thankYou a.biblio {
        align-items: baseline;
        color: #000000;
        font-family: "Fira Sans", sans-serif;
        text-transform: lowercase; }
  footer.page-footer .footer-copyright {
    display: flex;
    justify-content: center;
    border: 2px solid #000000;
    margin: 10px;
    padding: 0; }
    footer.page-footer .footer-copyright div.innerRow {
      display: flex;
      justify-content: center;
      width: 96%;
      margin: 4px;
      border: 2px solid #000000; }
      footer.page-footer .footer-copyright div.innerRow div.container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0em;
        padding-top: 14px;
        color: #000000; }
        footer.page-footer .footer-copyright div.innerRow div.container a.roxGithub {
          display: flex;
          flex-direction: row;
          color: #000000;
          font-family: "Fira Sans", sans-serif;
          text-transform: lowercase; }
          footer.page-footer .footer-copyright div.innerRow div.container a.roxGithub img.githubLogo {
            margin: 0 1em 0 0; }
          footer.page-footer .footer-copyright div.innerRow div.container a.roxGithub p.githubName {
            color: #000000; }

/*# sourceMappingURL=base.css.map */
