$primary-color: #7f785b;
$secondary-color: #403C2E;
$tertiary-color: #BFB489;
$quad-color: #D0E58E;
$penta-color: #FFF0B7;
$text-main-color: Goldenrod;

$darkenSecondary-color: darken($secondary-color, 30%);
$darkenPrimary-color: darken($primary-color, 20%);


$main-margin: 2em;
$secondary-margin: 1em;
$dropdown-margin-top: 5em;
$dropdown-margin-side: 4em;


html {
  background-color: white;
  font-family: 'Fira Sans', sans-serif;
}

.charDropInfo {
  background-color: $secondary-color;
  color: $secondary-color;

}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5em;
  background-color: $tertiary-color;

  .blank {
    background-color: White;
  }

  a {
    color: $secondary-color;
    background-color: $tertiary-color;
  }

  .directions {
    color: $secondary-color;
    font-size: 100%;
    margin-bottom: $secondary-margin;
    border-left: 17em;
  }

  .inkrDirections {
    color: $secondary-color;
  }

  .dropdown-content li>a, .dropdown-content li>span {
    color: #403C2E;
    padding: 0em;
  }

  .characterInfo {
    color: $text-main-color;
    font-size: 100%;
    margin-top: $main-margin;
    margin-left: $secondary-margin;
  }

  .dropdown-button {
    margin-left: $main-margin;
    margin-right: $main-margin;
  }

  #dropdown1 {
    margin-left: $dropdown-margin-side;
    margin-top: $dropdown-margin-top;
  }

  #dropdown2 {
    margin-right: $dropdown-margin-side;
    margin-top: $dropdown-margin-top;
  }

  div.col.s12.m12 {
    background-color: white;

    .logoCard{
      margin-top: $main-margin;
    }
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

canvas#canvas {
  display: flex;
  justify-content: center;
  z-index: 1;
  position: absolute;

  #canvasDiv {
    position: absolute;
    
  }
}

.container {
  display: flex;
  justify-content: center;
}

.comicVine {
  position: absolute;
  // top: 620px;
  // left: 625px;
  // right: 20px;
  z-index: 3;
}

img.charImage {
  padding: 1em;
  margin: 1em;
  border: 2em;
  border-color: Black;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-select: none;
}

.panel {
  position: absolute;
  z-index: 2;
  top: 55px;
  left: 133px;
  right: 40px;
  background-attachment: fixed;
}

.input-field.inline {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#text {
  width:24%;
}

.random {
  display: flex;
  justify-content: center;
}

#randomButton {
  background-color: $secondary-color;
  color: $penta-color;
  margin-left: 4.5em;
}

#searchButton {
  background-color: $secondary-color;
  color: $penta-color;
}

div.hover {
  color: white
}

.hover {
  position: relative;
  display: inline-block;
}

.hover .hoverText {
  visibility: hidden;
  width: 120px;
  background-color: $primary-color;
  color: $penta-color;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.hover:hover .hoverText {
  visibility: visible;
}

footer.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $tertiary-color;
  color: $secondary-color;

  div.row {
    display: flex;
    flex-direction: column;
    margin-bottom: 0em;


    #thankYou {
      text-align: right;
      padding-top: 0em;
      display: flex;
      flex-direction: row;


      img {
        margin: 1em;
      }


      a.biblio {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        color: $quad-color;
        text-align: center;
      }

      h5 {
        color: $primary-color

      }
    }

    #questionsConcerns {
      display: flex;
      flex-direction: column;
      align-content: center;
      text-align: center;
      padding-top: 0em;

      h5 {
        color: $primary-color;
      }
    }
  }

    .container {
      margin-bottom: 0em;
      color: $quad-color;

    .footer-copyright {
      padding-top: 4em;
    }

    .xxx {
      color: $quad-color;
      }
    }
  }

#thankYou {
  color: $tertiary-color;


}
